*{
	margin: 0;
	padding: 0;
	
}

p {
  background-color: #bfbfbf;
  border: 2px solid black;
  height: 150px;
  margin-right: 10px;
  padding: 40px 10px 5px 10px;
  overflow: hidden;
}

.navbar{

border: none;
background-color: grey;
color: black;
}



.glyphicon{
	font-size: 30px;
	color: black; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: grey;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
	color: black;
}
#myNavbar ul li a {
	color: black;
	text-align: right;
}
.navbar-brand{
font-size: 30px;	

}
